<launch>
    <arg name="swarm_node_start_delay" default="2.0"/> 
    <node pkg="sphero_stage" type="start.py" name="stage_sim"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find swarm_robots)/config/swarm_rviz.rviz"/>
    <node pkg="swarm_robots" type="swarm_robots.py" name="swarm_robots" launch-prefix="bash -c 'sleep $(arg swarm_node_start_delay); $0 $@'">
          <rosparam file="$(find swarm_robots)/params/swarm_params.yaml"/>
    </node>
</launch>